*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
html{
    font-family: 'Manrope', sans-serif;
    font-size: 1vw;
    letter-spacing: 1.4px;
}
body{
    background:#15181f;
}
.header{
    padding: 0 4.245rem;
    background: #171A21;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.208rem;
    background: #171A21;
    box-shadow: 0px 56px 80px rgba(0, 0, 0, 0.07), 0px 23.3955px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 12.5083px 17.869px rgba(0, 0, 0, 0.0417275), 0px 7.01207px 10.0172px rgba(0, 0, 0, 0.035), 0px 3.72406px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 1.54966px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.logo_menu{
    display: flex;
    align-items: center;
}
.menu{
    width: 2.34rem;
    height: 1.719rem;
    padding-right: 0.912rem;
}
.logo{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 800;
    font-size: 0.833rem;
    line-height: 1.146rem;
    padding-right: 1.042rem;
}
form{
    background: #0D1017;
    width: 15.469rem;
    height: 2.5rem;
    border-radius: 0.26rem;
}
input{
    border: none;
    outline: none;
    border-radius: 0.26rem;
    height: 2.5rem;
    background: #0D1017;
    padding-left: 0.781rem;
}
input:hover{
    color: #ECEFF4;
    opacity: 1;
}
.menu_link{
    color: rgba(236, 239, 244, 0.4);
    font-size: 0.833rem;
    line-height: 1.146rem;
    margin-right: 2.865rem;
}
.main_menu{
    display: flex;
    align-items: center;
}
.main_menu a:hover {
    color: #ECEFF4;
}
.login img{
    width: 2.917rem;
    height: 2.917rem;
    padding-right: 0.833rem;
}
.login svg{
    width: 0.99rem;
    height: 1.042rem;
    padding-right: 0.625rem;   
}
.login p{
    font-size: 0.833rem;
    line-height: 0.833rem;
    color: rgba(255, 255, 255, 0.5);
}
.login{
    display: flex;
    align-items: center;
}
.included{
    display: flex;
    align-items: center;
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.26rem;
    padding: 0.938rem 0.885rem;
}
.section_game{
    padding: 3.542rem 4.385rem 0 4.271rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}
h1{
    color: rgba(236, 239, 244, 0.4);
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin-bottom: 1.25rem;
}
h2{
    font-size: 3.75rem;
    line-height: 4.583rem;
    color: #ECEFF4;
    margin-bottom: 1.25rem;
}
.gaming_devices{
    display: flex;
    justify-content: space-between;
    width: 20.01rem;
}
.gaming_devices div{
    display: flex;
    align-items: center;
    border: 0.026rem solid rgba(255, 255, 255, 0.2);
    border-radius: 0.260rem;
}
.gaming_devices p{
    font-size: 0.833rem;
    line-height: 0.833rem;
    color: rgba(255, 255, 255, 0.5);
}
.pc{
    padding: 0.643rem 0.833rem 0.830rem 0.938rem;
}
.pc img{
    width: 1.042rem;
    height: 0.833rem;
    margin-right: 0.625rem;
}
.xbox{
    padding: 0.833rem;
}
.xbox img{
    width: 0.833rem;
    height: 0.833rem;
    margin-right: 0.625rem;
}
.playstation{
    padding: 0.938rem 0.833rem 0.919rem 0.833rem;
}
.playstation img{
    width: 0.833rem;
    height: 0.643rem; 
    margin-right: 0.625rem;
}
.description_game{
    margin: 1.1458rem 0;
    width: 30.885rem;
}
.description_game p{
    color: #ECEFF4;
    font-size: 1.25rem;
    line-height: 1.667rem;
}
.prices{
    display: flex;
    margin-bottom: 2.187rem;
    display: flex;
    align-items: center;
}
.price{
    color: #ECEFF4;
    font-size: 2.5rem;
    line-height: 3.49rem;
    margin-right: 1.406rem;
}
.real_price{
    padding: 0.781rem 0.781rem 0.729rem 0.625rem;
    background: #0D1017;
    border-radius: 0.26rem;
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.833rem;
    line-height: 0.833rem;
}
.discount{
    background: linear-gradient(180.46deg, #F15C3C 0.39%, rgba(72, 37, 210, 0.8) 102.92%);
    border-radius: 0.26rem;
    padding: 0.625rem 0.469rem 0.573rem 0.469rem ;
}
.discount p{
    color: #171A21;
    font-size: 0.833rem;
    line-height: 0.833rem;
}
.purchase_process{
    display: flex;
    align-items: center;
}
.buy{
    background: linear-gradient(0deg, #4825D2, #4825D2);
    border-radius: 0.26rem;
    padding: 0.833rem 0.99rem;
    margin-right: 0.833rem;
}
.buy p{
    color: #FFFFFF;
    font-size: 0.833rem;
    line-height: 0.833rem;  
}
.shopping_cart{
    display: flex;
    align-items: center;
    border: 0.1rem solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 0.26rem;
    padding: 0.80rem 0.833rem 0.8rem 0.9026rem;
}
.shopping_cart img{
    width: 0.833rem;
    height: 0.729rem; 
    margin-right: 0.565rem;
}
.shopping_cart p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.833rem;
    line-height: 0.833rem;  
}
.poster{
    width: 53.021rem;
    height: 29.844rem; 
    margin-bottom: 3.125rem;
}
.visual{
    display: flex;
    align-items: center;
}

.visual1{
    width: 12.24rem;
    height: 8.281rem;
}
.visual2{
    width: 12.24rem;
    height: 8.281rem;
    margin: 0 4.948rem;
}
.visual3{
    width: 12.24rem;
    height: 8.281rem;
}
.left_arrow, .right_arrow{
    width: 1.248rem;
    height: 1.248rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.left_arrow{
    margin-right: 2.552rem;
}
.right_arrow{
    margin-left: 2.552rem;
}
.right_arrow svg{
    transform: rotate(180deg);
}
.section_name{
    padding: 4.167rem 4.385rem 0.938rem 4.271rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section_name h3{
    font-size: 2.083rem;
    line-height: 2.5rem;
    color: #ECEFF4;
}
.section_name p{
    font-size: 1.25rem;
    line-height: 2.5rem;
    color: #4825D2;
}
.section_games{
    padding: 0.949rem 3.385rem 2.76rem 4.023rem;
    display: flex;
    flex-wrap: wrap;
}
.borderlands{
    border-radius: 0.417rem;
    background: url("../img/borderlands.png") center center no-repeat;
    background-size: cover;
    width: 44.141rem;
    height: 20.885rem;
    margin-right: 2.344rem;
    margin-bottom: 2.3437rem;
}
.tow{
    border-radius: 0.417rem;
    background: url("../img/tow.png") center center no-repeat;
    background-size: cover;
    width: 44.141rem;
    height: 20.885rem;
}
.rdr{
    border-radius: 0.417rem;
    background: url("../img/rdr.png") center center no-repeat;
    background-size: cover;
    width: 44.141rem;
    height: 20.885rem;
}
.factorio{
    border-radius: 0.417rem;
    background: url("../img/factorio.png") center center no-repeat;
    background-size: cover;
    width: 44.141rem;
    height: 20.885rem;   
    margin-left: 2.344rem;
}
.footer{
    background:#0D1017;
    display: flex;
    justify-content: space-between;
    padding: 2.656rem 4.167rem;
}
.footer a{
    font-weight: 500;
    font-size: 0.833rem;
    color: #FFFFFF;
}
.block_game{
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: flex-end;  
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2.884rem);
    width: auto;
    border-top-left-radius: 4rem;
    border-bottom-right-radius:0.412rem;
    padding: 2.495rem 0.938rem 1.615rem 1.563rem;
}
.section_games div{
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: flex-end; 
}
.block_game h3{
    font-size: 2.5rem;
    line-height: 2.448rem;
    color: #ECEFF4;
}
.block_game p{
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: #ECEFF4;
    padding-top: 1.203rem;
}
.mobile_menu{
    display: none;
}
@media screen and (max-width: 768px){
    html{
        font-size: 1.67vw;
    }
    .header {
        padding: 0 1.667rem;
    }
    .mobile_menu{
        display: block;
    }
    .mobile_menu div{
        background: rgba(255, 255, 255, 0.2);
        border-radius: 0.156rem;
        width: 5.46rem;
        height: 0.45rem;
    }
    .mobile_menu div:nth-child(2){
        margin: 0.75rem 0;
    }
    .main_menu{
        display: none;
    }

    .section_game{
        flex-wrap: wrap;
    }
    .gaming_devices{
        width: 22.99rem;
    }
    .purchase_process{
        margin-bottom: 1.7708rem;
    }
    .description_game{
        margin: 1.146rem 0;
        width: 52.042rem;
    }
    .section_game{
        padding: 3.542rem 0 0 0;
    }
    .game_information{
        margin-left: 1.927rem;
    }
    .poster{
        width: auto;
        width: 100%;
        height: auto;
    }
    .visual{
        margin-left: 3rem;
    }
    .description_game p{
        font-weight: 400;
        font-size: 0.833rem;
        line-height: 1.667rem;
    }
    .section_name{
        padding: 4.167rem 1.667rem 0.938rem 1.979rem;
    }
    .footer{
        padding: 0.833rem 1.979rem;
    }
    .section_games{
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 0 2.031rem;
        margin-bottom: 2.967rem;
        padding: 0;
    }
    .factorio {
        margin-left: 0
    }
    .borderlands {
        margin: 0;
    }
    .section_games div{
        margin-top: 2.32rem;
        width: auto;
        height: 25.406rem;
    }
}